
.hxb-tabs {
	--el-tabs-header-height: 30px;
	--el-tabs-header-nav-line-height: 34px;
	// --el-border-color-light: transparent;
	overflow: hidden;
	max-width: 100%;
	:deep() .el-icon {
		transition: unset;
		&:hover {
			background-color: transparent;
			color: inherit;
		}
	}
	:deep() .el-tabs__item {
		display: inline-flex;
		align-items: center;
		// background-color: #da8f8f;
	}
	:deep() .el-tabs__header {
		margin: 8px 0;
	}
	:deep() .el-tabs__nav-next,
	:deep() .el-tabs__nav-prev {
		line-height: var(--el-tabs-header-nav-line-height, 34px);
	}
	.hxb-tab-pane__icon {
		margin-left: 4px;
	}
	.hxb-tab-pane__title {
		padding: 0 6px;
	}
}
.hxb-tabs__default {
	:deep() .el-tabs__nav-wrap::after {
		content: none;
	}
	:deep() .el-tabs__item {
		padding: 0;
		background-color: var(--el-fill-color);
		margin-right: 4px;
	}
	:deep() .el-icon {
		margin-bottom: 2px;
		svg {
			margin-left: -8px;
		}
	}
	:deep() .el-tabs__active-bar {
		pointer-events: none;
		height: 100%;
		opacity: 0.3;
	}
}
.hxb-tabs__card {
	--el-border-color-light: transparent;
	:deep() .el-tabs__item {
		--hxb-border-un-active: 1px solid var(--el-fill-color, #409eff);
		--hxb-border-is-active: 1px solid var(--el-color-primary, #409eff);
		border: var(--hxb-border-un-active);
		border-radius: 3px;
		&:not(:last-child) {
			margin-right: 4px;
		}
		&:first-child {
			border-left: var(--hxb-border-un-active);
		}
		&.is-active {
			background: var(--el-color-primary-light-9, #ecf5ff);
			border: var(--hxb-border-is-active);
		}
		&:last-child:hover,
		&:hover {
			padding: 0 20px;
		}
	}
}
.hxb-tabs__border-card {
	--el-fill-color-light: transparent;
	--el-border-color: transparent;
	--el-border-color-light: transparent;
	--el-bg-color-overlay: transparent;

	:deep() .el-tabs__content {
		padding: 0;
	}
	:deep() .el-tabs__header {
		margin-bottom: 0;
	}
	:deep() .el-tabs__item {
		background: var(--el-fill-color, #ecf5ff);
		mask: url("@/assets/tabs-border-card-mask.png");
		mask-size: 100% 100%;
		&:hover + div {
			margin-left: 6px;
		}
		&:not(:first-child):hover {
			margin-left: 6px;
		}
		&.is-active {
			background: var(--el-color-primary-light-7, #ecf5ff);
		}
	}

	:deep() .el-icon {
		margin-bottom: 2px;
	}
}
