.el-aside {
	@apply md-max:w-0;
	transition: width 0.3s;
}
.sidebar-menu-is-collapse {
	@apply md-min:w-auto md-max:w-0;
}
.el-container {
	.el-aside {
		// @apply shadow-sm shadow-slate-400;
		box-shadow: 0 1px 2px 0 #969696;
	}
	.el-header {
		// @apply shadow-sm shadow-slate-400;
		box-shadow: 1px 0 2px 0 #969696;
	}
}
.layout-container {
	height: 100vh;
}
.el-main,
.el-aside {
	.el-scrollbar__view {
		@apply h-full;
	}
}
.el-header {
	--el-header-height: inherit;
	min-height: 60px;
	// height: inherit;
}

.el-overlay {
	background-color: transparent;
	backdrop-filter: blur(4px);
	// color: transparent;
}

#app {
// 	background-image: url("https://picsum.photos/1920/980");
// 	background-size: cover;
// 	background-repeat: no-repeat;
	min-height: 100vh;
}

// html.dark {
// 	.el-header,
// 	.hxb-menu {
// 		background-color: #333 !important;
// 	}
// }
// html.light {
// 	.el-header,
// 	.hxb-menu {
// 		background-color: #fff !important;
// 	}
// }

// .layout-container {
// 	.el-main {
// 		backdrop-filter: blur(4px);
// 	}
// }
