.el-aside {
	@apply md-max:w-0;
	transition: width 0.3s;
}
.sidebar-menu-is-collapse {
	@apply md-min:w-auto md-max:w-0;
}
.el-container {
	.el-aside{
		// @apply shadow-sm shadow-slate-400;
		box-shadow: 0 1px 2px 0 #969696;
	}
	.el-header {
		// @apply shadow-sm shadow-slate-400;
		box-shadow: 1px 0 2px 0 #969696;
	}
}
.layout-container {
	height: 100vh;
}

.el-aside {
	.el-scrollbar__view {
		@apply h-full;
	}
}
.el-overlay {
	background-color: transparent;
	backdrop-filter: blur(4px);
	// color: transparent;
}
// .menu-drawer {
//     --el-dialog-padding-primary: 0;
// }
